<div class="header">
    <h1>What About RLT Solutions</h1>
    <p>RLT Solutions is a leading provider of innovative solutions in the field of technology and engineering. Our mission is to deliver high-quality products and services that meet the needs of our clients and help them achieve their goals.</p>
</div>
<div class="about py-5">
    <div class="container">
      <div class="row align-items-center">
        <!-- Left Content -->
        <div class="col-md-6">
          <h2 class="fw-bold mb-3 text-start">What Are We Done By</h2>
          <p class="text-start custom-text">
            RLT Solutions have five major verticals, namely Projects, O&M, Services (AMC), LT & Automation panels, Flowmeter Calibrations & Industrial training (Professional & Students). 
          </p>
          <p class="text-start custom-text">
            We provide complete project works for Electro -mechanical, electrical & automations works in water/wastewater treatment plants, pump house, transmission & distribution mains.
          </p>
          <p class="text-start custom-text">
            Operation & Maintenance works for WTPs, STPs & pump house with required manpower.
          </p>
        </div>
        <!-- Right Image -->
        <div class="col-md-6 text-center">
          <img src="about/rltsolutions.landing.png" alt="About RLT Solutions" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
  <div class="our-vision-mission py-5">
    <div class="container">
      <div class="row align-items-center">
        
        <!-- Our Vision -->
        <div class="col-md-6">
          <h2 class="fw-bold mb-3 text-start">Our Vision<img src="about/binoculars.png" class="vimi-icon"></h2>
          <p class="custom-text text-start">
            Our Vision is to Cut wastage, Increase profitability, Productivity And repeatability
          </p>
        </div>
  
        <!-- Our Mission -->
        <div class="col-md-6">
          <h2 class="fw-bold mb-3 text-start">Our Mission<img src="about/targeting.png" class="vimi-icon"></h2>
          <p class="custom-text text-start">
            With a soul intention to making every Indian manufactures to world wide campaign         
         </p>
        </div>
      </div>
    </div>
  </div>
  

