<div class="footer">
    <div class="container d-flex justify-content-between">
        <div class="logo-1">
            <a class="navbar-brand" href="#">
                <img src="logos/Rlt solutins logo.png" alt="" class="rlt-logo">
                <div class="logo-text">
                    <span class="logo-2">Rlt Solutions</span>
                    <span class="logo-3">People are our prime movers...</span>
                </div>
            </a>
        </div>
        <div class="links">
            <h5>Quick Links</h5>
            <p>
             <a routerLink="/home" class="text-white text-decoration-none">Home</a><br>
             <a routerLink="/about" class="text-white text-decoration-none">About Us</a><br>
             <a routerLink="/products" class="text-white text-decoration-none">Products</a><br>
             <a routerLink="/contact" class="text-white text-decoration-none">Contact</a>
            </p>
        </div>
        <div class="contact"> 
            <h5>Contact</h5>
            <span>No 1, Factory Road, Athur,<br>Chengalpet, Tamil Nadu - 603101.<br>Phone: +91 7305012432<br>Email: info&#64;rltgroup.com
            </span>
        </div>
    </div>
</div>