<!-- Flow Meter -->
<div class="container my-4">
  <h1 class="text-center mb-4">FLOW METER</h1>
  <div class="row">
      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/Electromagnetic Flow Meter.png" class="card-img-top" alt="Electromagnetic Flow Meter">
              <div class="card-body">
                  <h5 class="card-title">Electromagnetic Flow Meter</h5>
                  <p class="card-text">​RLT Solutions offers a high-quality Electromagnetic Flow Meter designed for precise measurement of liquid flow in various industrial applications. Manufactured under stringent supervision, these flow meters ensure accurate results and robust performance</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
              </div>
          </div>
      </div>
      
      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/Ultrasonic Inline Flow Meter.jpg" class="card-img-top" alt="Ultrasonic Flow Meter">
              <div class="card-body">
                  <h5 class="card-title">Ultrasonic In-Line Flow Meter</h5>
                  <p class="card-text">​RLT Solutions offers a range of Ultrasonic Flow Meters designed for precise flow measurement in various applications. These meters are particularly effective in scenarios where traditional flow meters may not be suitable.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
              </div>
          </div>
      </div>

      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/Vortex flow meter.jpg" class="card-img-top" alt="Vortex Flow Meter">
              <div class="card-body">
                  <h5 class="card-title">Vortex Flow Meter</h5>
                  <p class="card-text">RLT Solutions offers Vortex Flow Meters designed for accurate measurement of flow rates in various industrial applications. These meters are particularly suitable for measuring the flow of liquids, gases, and steam, especially in situations where other flow measurement technologies may be less effective.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
              </div>
          </div>
      </div>

      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/Coriolis Mass Flow Meter.jpg" class="card-img-top" alt="Coriolis Mass Flow Meter">
              <div class="card-body">
                  <h5 class="card-title">Coriolis Mass Flow Meter</h5>
                  <p class="card-text">​RLT Solutions offers Coriolis Mass Flow Meters designed for precise measurement of mass flow, density, and temperature in various industrial applications. These meters are particularly effective for homogeneous mixtures, providing accurate data essential for process control and optimization.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-3">
        <div class="card h-100 shadow-sm">
            <img src="Flow Meter/portable-clamp-on-ultrasonic-flowmeter.webp" class="card-img-top" alt="Smart Pressure Transmitter">
            <div class="card-body">
                <h5 class="card-title">Ultrasonic - Clamp-on Flow Meter</h5>
                <p class="card-text">​RLT Solutions offers Ultrasonic Clamp-on Flow Meters designed for non-invasive flow measurement by attaching sensors externally to the pipeline. This method is ideal for applications where pipe modifications are impractical or undesirable.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#">View Details</a>
                <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card h-100 shadow-sm">
            <img src="Flow Meter/Thermal Mass Flow Meter.jpg" class="card-img-top" alt="Temperature Sensor">
            <div class="card-body">
                <h5 class="card-title">Thermal Mass Flow Meter</h5>
                <p class="card-text">​RLT Solutions offers Thermal Mass Flow Meters designed for precise measurement of gas flow in various industrial applications. These meters are particularly effective in scenarios requiring accurate monitoring of gases such as compressed air and biogas.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#">View Details</a>
                <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card h-100 shadow-sm">
            <img src="Flow Meter/Woltman Flow Meter.jpg" class="card-img-top" alt="Woltman Flow Meter">
            <div class="card-body">
                <h5 class="card-title">Woltman Flow Meter</h5>
                <p class="card-text">RLT Solutions offers Woltman Flow Meters designed for precise measurement of high flow rates in large pipelines, suitable for various industrial applications.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#">View Details</a>
                <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
            <div class="card h-100 shadow-sm">
                <img src="Flow Meter/Ultrasonic Amr Water Meter.jpg" class="card-img-top" alt="Ultrasonic Amr Water Meter With Value / Without Value">
                <div class="card-body">
                    <h5 class="card-title">Ultrasonic Amr Water Meter With Value / Without Value</h5>
                    <p class="card-text">RLT Solutions offers Ultrasonic Automatic Meter Reading (AMR) Water Meters, available in models with and without integrated valves, designed for precise and efficient water flow measurement.</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
                </div>
            </div>
        </div>
  </div>


 
  <div class="row">
    <div class="col-md-3">
        <div class="card h-100 shadow-sm">
            <img src="Flow Meter/Multi-Jet Meter.png" class="card-img-top" alt="Smart Pressure Transmitter">
            <div class="card-body">
                <h5 class="card-title">Multi-Jet Meter</h5>
                <p class="card-text">RLT Solutions' Multi-Jet Meters are designed for precise water flow measurement in residential, commercial, and industrial settings. These meters use multiple jets to evenly distribute water across the impeller, resulting in highly accurate readings even at low flow rates.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#">View Details</a>
                <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card h-100 shadow-sm">
            <img src="Flow Meter/STRAINER.jpg" class="card-img-top" alt="Strainer">
            <div class="card-body">
                <h5 class="card-title">Strainer - Features and Benefits</h5>
                <p class="card-text">RLT Solutions offers high-quality Strainers designed to remove unwanted particles from liquids and gases in piping systems. These strainers ensure the protection and longevity of pumps, valves, and other equipment by preventing clogging and damage.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#">View Details</a>
                <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card h-100 shadow-sm">
            <img src="Flow Meter/AMR Compatible Multi-Jet Meter.jpeg" class="card-img-top" alt="AMR Compatible Multi-Jet Meter">
            <div class="card-body">
                <h5 class="card-title">AMR Compatible Multi-Jet Meter</h5>
                <p class="card-text">RLT Solutions offers the AMR (Automatic Meter Reading) Compatible Multi-Jet Meter designed to provide accurate flow measurement with automated data collection. This meter is ideal for applications where remote monitoring and data accuracy are crucial.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#">View Details</a>
                <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
            </div>
        </div>
    </div>

   <div class="col-md-3">
        <div class="card h-100 shadow-sm">
            <img src="Flow Meter/Seamless Data Transfer.jpg" class="card-img-top" alt="Seamless Data Transfer">
            <div class="card-body">
                <h5 class="card-title">Seamless Data Transfer (SDT)</h5>
                <p class="card-text">RLT Solutions offers Seamless Data Transfer (SDT) technology, designed to enable efficient and uninterrupted data communication between devices and systems. This technology is particularly useful in industrial automation, smart metering, and remote monitoring applications.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#">View Details</a>
                <button class="btn btn-success mt-2" (click)="addToCart()">Add to Cart</button>
                  <button class="btn btn-primary mt-2" (click)="buyNow()">Buy Now</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- PRESSURE & TEMPERATURE -->
<div class="container my-4">
    <h1 class="text-center mb-4">PRESSURE & TEMPERATURE</h1>
    <div class="row">
        <!-- Product Cards -->
        <div class="col-md-3">
            <div class="card h-100 shadow-sm">
                <img src="Flow Meter/Electromagnetic Flow Meter.png" class="card-img-top" alt="Electromagnetic Flow Meter">
                <div class="card-body">
                    <h5 class="card-title">Electromagnetic Flow Meter</h5>
                    <p class="card-text">​RLT Solutions offers a high-quality Electromagnetic Flow Meter designed for precise measurement of liquid flow in various industrial applications. Manufactured under stringent supervision, these flow meters ensure accurate results and robust performance</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#">View Details</a>
                    <button class="btn btn-success mt-2">Add to Cart</button>
                    <button class="btn btn-primary mt-2">Buy Now</button>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card h-100 shadow-sm">
                <img src="Flow Meter/Ultrasonic Inline Flow Meter.jpg" class="card-img-top" alt="Ultrasonic Flow Meter">
                <div class="card-body">
                    <h5 class="card-title">Ultrasonic In-Line Flow Meter</h5>
                    <p class="card-text">​RLT Solutions offers a range of Ultrasonic Flow Meters designed for precise flow measurement in various applications. These meters are particularly effective in scenarios where traditional flow meters may not be suitable.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#">View Details</a>
                    <button class="btn btn-success mt-2">Add to Cart</button>
                    <button class="btn btn-primary mt-2">Buy Now</button>
                </div>
            </div>
        </div>
  
        <div class="col-md-3">
            <div class="card h-100 shadow-sm">
                <img src="Flow Meter/Vortex flow meter.jpg" class="card-img-top" alt="Vortex Flow Meter">
                <div class="card-body">
                    <h5 class="card-title">Vortex Flow Meter</h5>
                    <p class="card-text">RLT Solutions offers Vortex Flow Meters designed for accurate measurement of flow rates in various industrial applications. These meters are particularly suitable for measuring the flow of liquids, gases, and steam, especially in situations where other flow measurement technologies may be less effective.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#">View Details</a>
                    <button class="btn btn-success mt-2">Add to Cart</button>
                    <button class="btn btn-primary mt-2">Buy Now</button>
                </div>
            </div>
        </div>
  
        <div class="col-md-3">
            <div class="card h-100 shadow-sm">
                <img src="Flow Meter/Coriolis Mass Flow Meter.jpg" class="card-img-top" alt="Coriolis Mass Flow Meter">
                <div class="card-body">
                    <h5 class="card-title">Coriolis Mass Flow Meter</h5>
                    <p class="card-text">​RLT Solutions offers Coriolis Mass Flow Meters designed for precise measurement of mass flow, density, and temperature in various industrial applications. These meters are particularly effective for homogeneous mixtures, providing accurate data essential for process control and optimization.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#">View Details</a>
                    <button class="btn btn-success mt-2">Add to Cart</button>
                    <button class="btn btn-primary mt-2">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row">
      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/portable-clamp-on-ultrasonic-flowmeter.webp" class="card-img-top" alt="Smart Pressure Transmitter">
              <div class="card-body">
                  <h5 class="card-title">Ultrasonic - Clamp-on Flow Meter</h5>
                  <p class="card-text">​RLT Solutions offers Ultrasonic Clamp-on Flow Meters designed for non-invasive flow measurement by attaching sensors externally to the pipeline. This method is ideal for applications where pipe modifications are impractical or undesirable.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2">Add to Cart</button>
                  <button class="btn btn-primary mt-2">Buy Now</button>
              </div>
          </div>
      </div>
      
      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/Thermal Mass Flow Meter.jpg" class="card-img-top" alt="Temperature Sensor">
              <div class="card-body">
                  <h5 class="card-title">Thermal Mass Flow Meter</h5>
                  <p class="card-text">​RLT Solutions offers Thermal Mass Flow Meters designed for precise measurement of gas flow in various industrial applications. These meters are particularly effective in scenarios requiring accurate monitoring of gases such as compressed air and biogas.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2">Add to Cart</button>
                  <button class="btn btn-primary mt-2">Buy Now</button>
              </div>
          </div>
      </div>
      
      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/Woltman Flow Meter.jpg" class="card-img-top" alt="Woltman Flow Meter">
              <div class="card-body">
                  <h5 class="card-title">Woltman Flow Meter</h5>
                  <p class="card-text">RLT Solutions offers Woltman Flow Meters designed for precise measurement of high flow rates in large pipelines, suitable for various industrial applications.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2">Add to Cart</button>
                  <button class="btn btn-primary mt-2">Buy Now</button>
              </div>
          </div>
      </div>
      <div class="col-md-3">
              <div class="card h-100 shadow-sm">
                  <img src="Flow Meter/Ultrasonic Amr Water Meter.jpg" class="card-img-top" alt="Ultrasonic Amr Water Meter With Value / Without Value">
                  <div class="card-body">
                      <h5 class="card-title">Ultrasonic Amr Water Meter With Value / Without Value</h5>
                      <p class="card-text">RLT Solutions offers Ultrasonic Automatic Meter Reading (AMR) Water Meters, available in models with and without integrated valves, designed for precise and efficient water flow measurement.</p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#">View Details</a>
                      <button class="btn btn-success mt-2">Add to Cart</button>
                      <button class="btn btn-primary mt-2">Buy Now</button>
                  </div>
              </div>
          </div>
    </div>
  
  
    <!--New Products-->
    <div class="row">
      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/Multi-Jet Meter.png" class="card-img-top" alt="Smart Pressure Transmitter">
              <div class="card-body">
                  <h5 class="card-title">Multi-Jet Meter</h5>
                  <p class="card-text">RLT Solutions' Multi-Jet Meters are designed for precise water flow measurement in residential, commercial, and industrial settings. These meters use multiple jets to evenly distribute water across the impeller, resulting in highly accurate readings even at low flow rates.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2">Add to Cart</button>
                  <button class="btn btn-primary mt-2">Buy Now</button>
              </div>
          </div>
      </div>
      
      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/STRAINER.jpg" class="card-img-top" alt="Strainer">
              <div class="card-body">
                  <h5 class="card-title">Strainer - Features and Benefits</h5>
                  <p class="card-text">RLT Solutions offers high-quality Strainers designed to remove unwanted particles from liquids and gases in piping systems. These strainers ensure the protection and longevity of pumps, valves, and other equipment by preventing clogging and damage.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2">Add to Cart</button>
                  <button class="btn btn-primary mt-2">Buy Now</button>
              </div>
          </div>
      </div>
      
      <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/AMR Compatible Multi-Jet Meter.jpeg" class="card-img-top" alt="AMR Compatible Multi-Jet Meter">
              <div class="card-body">
                  <h5 class="card-title">AMR Compatible Multi-Jet Meter</h5>
                  <p class="card-text">RLT Solutions offers the AMR (Automatic Meter Reading) Compatible Multi-Jet Meter designed to provide accurate flow measurement with automated data collection. This meter is ideal for applications where remote monitoring and data accuracy are crucial.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2">Add to Cart</button>
                  <button class="btn btn-primary mt-2">Buy Now</button>
              </div>
          </div>
      </div>
  
     <div class="col-md-3">
          <div class="card h-100 shadow-sm">
              <img src="Flow Meter/Seamless Data Transfer.jpg" class="card-img-top" alt="Seamless Data Transfer">
              <div class="card-body">
                  <h5 class="card-title">Seamless Data Transfer (SDT)</h5>
                  <p class="card-text">RLT Solutions offers Seamless Data Transfer (SDT) technology, designed to enable efficient and uninterrupted data communication between devices and systems. This technology is particularly useful in industrial automation, smart metering, and remote monitoring applications.</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#">View Details</a>
                  <button class="btn btn-success mt-2">Add to Cart</button>
                  <button class="btn btn-primary mt-2">Buy Now</button>
              </div>
          </div>
      </div>
  </div>
</div>
  
  
  
  
  



